html {
    min-height: 100%;
}

body {
    background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px; 
    font-family: 'Roboto', sans-serif;
}

section#wrapper {
    border: 1px solid black;
    width: 80%;
    min-height: 550px;
    
    margin: auto; 
}

header {
    display: flex;
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
    height: 200px;
    border: 1px solid White;
}

header h1 {
    color: white;
    font-size: 85px;
    margin: 0;
    margin: 0 auto 0 auto;
    
}

nav {
    border: 1px solid yellow;
}

nav ul#mainNavigation {
    display: flex;
    justify-content: space-around;
    
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul#mainNavigation a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

ul#mainNavigation a:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer; /* standard value */
}

main, main aside, section.mainInfo  {
    border: 1px solid red;
    padding: 10px;
    color: white;
}

main {
    display: flex;
    min-height: 500px;
}

main aside {
    flex: 1;
}

section.mainInfo {
    flex: 2;
}

section.mainInfo img {
    width: 20%
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

footer ul {
    list-style: none;
    padding: 0px
}

footer ul li a {
    color: white;
    text-decoration: none;
}

section.copyright {
    text-align: center;
    color: #FFF;
    font-weight: bold;
}