@charset: 'utf-8';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-flow: row;
    width: 80%;
    margin-bottom: 5px;
    justify-content: flex-end;
    font-size: 25px;
}

.login p {
    margin-right: 40px;
}

header {
    height: 20%;
    width: 80%;
    display: flex;
}

header section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

header section:nth-child(1) {
    height: 100%;
    width: 20%;
/*    background-color: aqua;*/
    border: solid black 2px;
    margin-right: 10px;
}

header section:nth-child(2) {
    height: 100%;
    width: 65%;
/*    background-color: red;*/
    border: solid black 2px;
    margin-right: 10px;
}

header section:nth-child(3) {
    height: 100%;
    width: 15%;
/*    background-color: blue;*/
    border: solid black 2px;
    display: flex;
    flex-flow: column;
}

nav {
    height: 5%;
    width: 80%;
    border: solid black 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}

ul {
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    
}

li {
    list-style: none;
    font-size: 27px;
    margin: 10px;
}

main {
    height: 50%;
    width: 80%;
    display: flex;
    
}

.parent-left {
    height: 100%;
    width: 20%;
    border: solid black 2px;
    margin-right: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
}

.parent-middle {
    height: 100%;
    width: 65%;
    border: solid black 2px;
    margin-right: 10px;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}


.parent-right {
    height: 100%;
    width: 15%;
    display: flex;
    flex-flow: column;
}

.parent-right section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.parent-right p {
    margin: 5px;
}

.parent-right section:nth-child(1) {
    flex: 1;
    width: 100%;
    border: solid black 2px;
    margin-bottom: 5px;
}

.parent-right section:nth-child(2) {
    flex: 1;
    width: 100%;
    border: solid black 2px;
    margin-bottom: 5px;
}

.parent-right section:nth-child(3) {
    flex: 1;
    width: 100%;
    border: solid black 2px;
}

.text-parent {
    display: flex;
    margin: 15px;
    font-size: 16px;
}

.title-destination {
    margin-left: 15px;
}

.text-middle {
    margin-right: 10px;
}

.image-parent {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.arrows {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.fa-caret-left {
    font-size: 40px;
}

.fa-caret-right {
    font-size: 40px;
}



