@charset 'utf-8';

* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-color: lightgray;
}

nav {
    height: 20%;
    width: 100%;
    
    background-color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

li {
    border: solid black 2px;
    border-radius: 5px;;
    
    list-style: none;
    font-size: 20px;
    width: 70px;
}

.image-scroller {
    height: 30%;
    width: 100%;
    
    background-color: lightgray;
    border-top: solid gray 3px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.fa-chevron-left {
    font-size: 30px;
}

.fa-chevron-right {
    font-size: 30px;
}

.image-parent {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
}


main {
    height: 40%;
    width: 100%;
    
    background-color: white;
    border-top: solid gray 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    width: 50%;
    height: 80%;
/*    border: solid black 2px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
}

.grid-item {
    border: solid black 2px;
}

footer {
    height: 10%;
    width: 100%; 
    
    background-color: white;
    border-top: solid gray 3px;
}