@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ecf0f1;
    height: 100vh;
}

header {
    /* border: solid 2px; */
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2980b9;
}

header h1 {
    font-size: 40px;
}

hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

nav {
    /* border: solid 2px; */
    height: 10%;
    display: flex;
    background-color: #74b9ff;
    padding-left: 200px;
    padding-right: 200px;
}

i {
    margin-right: 2px;
}

.navParent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.navChild {
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.active {
    background-color: #dfe6e9;
}

.navParent a {
    text-decoration: none;
    color: black;
    height: 18px;
}

.hoverMenu:hover .dropDown {
    visibility: visible;
    height: 150px;
    opacity: 1;
}

.navParent li:hover {
    text-decoration: underline;
}

.hoverMenu {
    /* position: relative; */
    /* min-height: auto; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropDown {
    visibility: hidden;
    height: 0px;
    transition: all 1.2s;
    opacity: 0;
    outline: 0;
    list-style: none;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    top: 40px;   
}

main {
    /* border: solid 2px; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.sideNav {
    height: 100%;
    width: 20%;
    border-right: solid 1px;
    box-shadow: 3px 0px 5px -3px;
    display: flex;
    flex-flow: column;
    /* justify-content: center;
    align-items: center; */
}

.sideNav p {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
}

.sideNav ul {
    height: 100%;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
}

.sideNav li {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 17px;
    margin-left: 40px;
}

.sideNav a:hover {
    text-decoration: underline;
}

.sideNav a {
    /* margin-left: 40px; */
    text-decoration: none;
    color: black;
}

.JsDescription {
    margin-left: 10px;
    margin-right: 10px;
    height: 70%;
    border: solid 2px;
    box-shadow: 5px 7px 1px;
    width: 80%;
    background-color: white;
}

.JsDescription h2 {
    padding-top: 10px;
    padding-left: 10px;
}

.tutorialContainer {
    height: 80%;
    display: flex;
}

#imgExample {
    height: 100%;
    width: 50%;
}

#resultContainer {
    height: 100%;
    width: 50%;
}

footer {
    height: 20%;
    /* border: solid 2px; */
    background-color: #95a5a6;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}