@charset 'utf-8';

body {
    background-color: #ecf0f1;
    font-family: 'Oxanium';
        
}

h1 {
    text-align: center;
    font-size: 50px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 320px;
    
    width: 70vw;
    min-height: 80vh;
    
    margin: auto;
    grid-gap: 10px
        
}

.grid-item {
    border: solid 2px;
    background-position: center;
    transition: transform 0.3s;
}

.grid-item:hover {
    transform: scale(1.4)
}

.grid-item:nth-child(1) {
    background-image: url(../../images/portfolio/flygplan.jpg);
    background-size: cover;
}

.grid-item:nth-child(2) {
    background-image: url(../../images/portfolio/vattenfall.jpg);
    background-size: cover;
}

.grid-item:nth-child(3) {
    background-image: url(../../images/portfolio/tree.jpg);
    background-size: cover;
}

.grid-item:nth-child(4) {
    background-image: url(../../images/portfolio/rocc.jpg);
    background-size: cover;
    
}

.grid-item:nth-child(5) {
    background-image: url(../../images/portfolio/get.jpg);
    background-size: cover;
}

.grid-item:nth-child(6) {
    background-image: url(../../images/portfolio/bird.jpg);
    background-size: cover;
        
}

.grid-item:nth-child(7) {
    background-image: url(../../images/portfolio/utter.jpg);
    background-size: cover
}

.grid-item:nth-child(8) {
    background-image: url(../../images/portfolio/owl.jpg);
    background-size: cover;
}

.grid-item:nth-child(9) {
    background-image: url(../../images/portfolio/hus.jpg);
    background-size: cover;
}

