@charset 'utf-8';

body {
    background-color: #e056fd;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    grid-gap: 10px; 
    
    width: 80vw;
    height: 90vh;
    
    border: 1px solid black;    
    margin: auto;
}

.grid-item:nth-child(odd) {
    background-color: #ECFF52;
}

.grid-item:nth-child(even) {
    background-color: #22a6b3;
}