@charset "utf-8";

body {
    background-color: #1e90ff;
    margin: 0;
    padding: 0;
}

section.grid-container {
    background-color: #FF8D1E;
    
    width: 80vw;
    height: 100vh;
    
    margin-left: auto;
    margin-right: auto;
    
    box-shadow: 3px 0 10px black, -3px 0 10px black;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 350px 1fr;
}

.grid-item:nth-child(even) {
    background-color: #7bed9f;
}

.grid-item:nth-child(odd) {
    background-color: #ff6b81;
}



