@charset 'utf-8';

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form-container {
    width: 60%;
    min-height: 40vh;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-flow: column;
}

.main-form {
    border: 2px solid black;
    height: 100%;
    border-radius: 5px;
}

.main-form textarea {
    resize: none;
    height: 70px;
    padding: 5px;
}

.main-form p {
    display: flex;
    flex-flow: column;
    padding: 10px;
    color: white;
    width: 50%;
    margin: auto;
}

.main-form input, textarea, button {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.main-form input {
    height: 20px;
    padding: 5px;
}

.parent {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.username-parent {
    display: flex;
    flex-flow: column;
    width: 50%;
}

.email-parent {
    width: 50%;
}

.message-parent button {
    height: 30px;
    color: white;
}



