@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 20%;
    width: 100%;
    display: flex;
    flex-flow: row;
    /* border: solid 2px black; */
    
}

.navItems {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;

    list-style: none;
}

.navItems button {
    background-color: white;
    color: #007af3;
    border-color: #007af3;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}

.heroSection {
    height: 450px;
    width: 100%;
    background-color: #f2f2f2;

    display: flex;
    flex-flow: row;
    /* border: solid 2px yellow; */
}

.heroSectionLeft {
    height: 100%;
    width: 50%;
    /* border: solid 2px blue; */

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

.heroParent {
    height: 60%;
    width: 60%;
}

.heroParent h1 {
    font-size: 25px;
}

.heroParent h2 {
    font-size: 40px;
}

.heroInteractions {
    height: 30%;
    width: 100%;
    display: flex;
    flex-flow: row;

    align-items: center;
}

.heroInteractions button {
    background-color: #007af3;
    color: white;
    height: 45px;
    width: 90px;
    border-radius: 30px;
    border: none;

    font-weight: bold;
}

.heroInteractions p {
    padding-left: 10px;
    text-decoration: underline;
}

.blueDot {
    color: #007af3;
}

.videoText::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/Icon\ awesome-video.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
}

.heroSectionRight {
    height: 100%;
    width: 50%;
    /* border: solid 2px red; */
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.heroSectionRight img {
    height: 80%;
}

.mainContent {
    height: 550px;
    width: 100%;

    background-color: #24294C;
    display: flex;
    flex-flow: row;
    position: relative;
}

.phone {
    height: 80%;
    /* width: 200px; */
    width: 16%;

    background-color: #007af3;
    position: absolute;
    top: -80px;
}

.phone img {
    height: 70%;
    width: 70%;
    position: absolute;
    right: -55px;
    bottom: 100px;
}

.tasks {
    color: white;
    height: 80%;
    width: 60%;
    padding-top: 50px;
    padding-left: 240px;
}

.tasks ul {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    /* list-style-image: url("../images/Component\ 7\ –\ 1.svg"); */
}

.tasks li {
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.tasks li::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/Component\ 7\ –\ 1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 10px;
}


.mainContent #rightPic {
    width: 20%;

    position: absolute;
    bottom: -70px;
    right: 0px;
    mix-blend-mode: luminosity;
    z-index: 100;

}

.blendBox {
    background-color: #24294C;
    width: 20%;
    height: 264.458px;
    position: absolute;

    right: 0px;
    bottom: -70px;
    z-index: 99;
}

.testamonial {
    height: 600px;
    width: 100%;

    background-color: #007af3;
    display: flex;
    flex-flow: row;

    align-items: center;
    justify-content: center;
    background-color: #0048F3;
}

.cardParent {
    height: 100%;
    width: 80%;
    margin: auto;
    position: relative;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #007af3
}

.leftArrow {
    height: 20px;
    width: auto;
    /* background-color: white; */
    position: absolute;
    left: 0;
}

.leftArrow i {
    font-size: 25px;
}

.leftArrow i:hover {
    cursor: pointer;
}

.rightArrow {
    height: 20px;
    width: auto;
    /* background-color: white; */
    position: absolute;
    right: 0;
}

.rightArrow i {
    font-size: 25px;
}

.rightArrow i:hover {
    cursor: pointer;
}

.profileParent {
    position: absolute;
    left: -1000px;
    transition: all 0.4s;


    /* justify-content: center;
    align-items: center; */
    /* justify-content: space-evenly; */
}

.card {
    height: 400px;
    width: 250px;
    display: inline-block;
    margin: 120px 20px 20px 20px;
    
    /* position: absolute; */
    background-color: #006fdc;
    border-radius: 30px;

}

.cardContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
}

.cardPhoto {
    height: 100px;
    width: 100px;

    background-image: url("../images/happyWoman.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    border: solid 8px #007af3;
    border-radius: 100%;


    position: absolute;
    top: -50px;
}