@charset "utf-8";

body {
    background-color: #ff9ff3;
    padding: 20px;
}

.time {
    display: flex;
}

.time > * {
    margin: 5px;
}

.stopTime {
    background-color: #000;
    color: silver;
    border-radius: 5px;

    outline: none;
    border: none;

    padding: 5px;

    transition: transform .4s ease;
}

.stopTime:active {
    transform: scale(1.5);
}