body {
    margin: 0px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header {
/*    border: solid 2px;*/
    display: flex;
    background-color: #34495e
}

header h1 {
    text-align: center;
    flex: 20;
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    color: white;
}

header img {
    flex:1;   
    width: 80px;
}


nav ul {
/*    border: solid 2px;*/
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    height: 60px;
/*    align-items: center;*/
    background-color: #2c3e50;
        
}

nav ul li {
    background-color: white;
    display: flex;
    width: 225px;
    justify-content: center;
    background-color: #2c3e50;
    align-items: center;
    
}

nav li a {
    text-decoration: none;
    display: block;
    color: white

}


.NewsPic {
    margin: 100px auto;
    min-height: 400px;
    width: 70%;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.NewsPic a img {
    width: 100%;
}



.News  {
    height: 600px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.News iframe {
    width: 60%;
    height: 100%;
}


.First h2 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.First {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#mainScroll {
    border: solid 2px;
    width: 50%;
    margin: auto;
    height: 250px;
    overflow: scroll;
}

footer {
    margin-top: 100px;
    height: 200px;
    background-color: #2d3436;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    width: 100%;
}

.contact {
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.copy {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
}

.socialmedia {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 20px;
}

#Table {
    display: flex;
    flex-flow: column;
    align-items: center
}

#Border {
    border: solid 2px;
    display: flex;
    width: 80%;
    height: 25px;
    background-color: darkblue;
    color: white;
/*    justify-content: space-between;*/
    padding-top: 4px;
}


thead {
    background-color: darkblue;
    color: white;

}

tbody tr:nth-child(Even) {
    background-color: silver;
}

table th, table td {
    padding: 20px;
    border: 1px solid black;
}

.Info {
    transform: translate(150px, 20px) 

}

.DraftYear {
    padding: 10px; 
}

svg {
    width: 64px;

}

.active {
    border-bottom: 5px solid lightblue;
}

.fa-instagram {
    font-size: 40px;
}

.fa-twitter {
    font-size: 40px;
}

.fa-facebook-square {
    font-size: 40px;
}
