@charset "utf-8";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #DFDFDF;

    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 250px;

    background-color: #F2F2F2;

    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    color: #707070;
    text-align: right;

    flex: 1;
}

.span-logo {
    color: #007AF3;
}

.mobile-icon, .mobile-icon-close {
    display: none;
}

nav {
    flex: 2;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    justify-content: space-evenly;

    width: 70%;

    font-size: 22px;
    cursor: pointer;
    text-transform: uppercase;
}

main {
    width: 100%;
    min-height: 1000px;
}

.main-left {
    flex: 1;
    background-color: #637692;
}
.main-center {
    flex: 4;
    background-color: #5F6C7E;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.main-center h2 {
    font-size: 30px;

    padding-top: 5px;
    padding-bottom: 5px;

    color: #d4e7ff
}

.main-content {
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;

    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
}

.main-content iframe {
    width: 75%;
}

.main-right {
    flex: 1;
    background-color: #637692;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.newsletter {
    width: 90%;
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    
}

.newsletter h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.newsletter-input {
    display: flex;
    flex-flow: column;
}

.newsletter-input p {
    display: flex;
    flex-flow: row;
    margin-bottom: 15px;
}

.email label {
    font-size: 14px;
    margin-right: 7px;
}

.email input {
    width: 75%;
    height: 25px;
    border-radius: 1px;
}

.checkbox input{
    margin-right: 3px;
}

.checkbox label {
    font-size: 14px;
}

.newsletter-input button {
    border-radius: 6px;
    height: 30px;
}

footer {
    width: 100%;
    height: 250px;
    background-color: #3E4043;
    display: flex;
    flex-flow: row;
}

.social-media {
    flex: 1;

    display: flex;
    flex-flow: column;
    
    justify-content: center;
    justify-content: space-around;
}

.social-media h1 {
    margin-left: 50px;
    color: #abbcd1
}

.social-media i {
    margin-left: 50px;
    font-size: 32px;
    color: #d4e7ff;

}

.contact {
    flex: 1;

    display: flex;
    flex-flow: column;
    

    justify-content: space-around;
}

.contact h1 {
    color: #abbcd1
}

.contact p {
    font-size: 17px;
    color: #d4e7ff;
}

/* UTILITY CLASSES */

.add-flex {
    display: flex;
}

.active {
    font-weight: bold;
}