@charset "utf-8";

body {
    overflow-x: hidden;
}

header {
    justify-content: center;
    position: relative;
}

.span-logo {
    color: #f30051;
}

.mobile-icon {
    display: block;
    position: absolute;
    /* z-index: 2; Act like layers in PS */
    top: 20px;
    right: 20px;
}

.mobile-icon:hover {
    cursor: pointer;
}

.mobile-icon-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.mobile-icon-close:hover {
    cursor: pointer;
}

.mobile-menu {
    height: 100%;
    position: absolute;
    transform: translateX(100%);
    transition: all 0.4s;
    /* background-color: #d4d3d3; */
    background-color: #3E4043;
    align-items: center;
    /* z-index: 1; */
}

.mobile-menu-toggle {
    transform: translateX(0%);
}

.mobile-menu ul {
    flex-direction: column;  
    align-items: center; 
}

.mobile-menu li {
    /* background-color: #d4d3d3; */
    background-color: #3E4043;
    width: 100%;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
    border-radius: 4px;
}

.mobile-menu li:hover {
    background-color: #d4e7ff;
}

.social-media h1 {
    font-size: 20px;
}

.social-media i {
    font-size: 25px;
}

.contact h1 {
    font-size: 20px;
}

.contact p {
    font-size: 15px;
}