@charset "utf-8";

header {
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

header h1 {
    flex: 0;
}

nav {
    flex: 0;
    width: 100vw;
    justify-content: center;
}

.span-logo {
    color: #df00f3;
}

main {
    flex-direction: column;
}

.main-left {
    order: 2;
}
.main-center {
    order: 1;
}
.main-right {
    order: 3;
    background-color: #7389ac;
    display: flex;
    flex-flow: row;
}

.newsletter {
    width: 70%;
    display: flex;
    flex-flow: column;
    margin: 30px;
}

.email input {
    width: 30%;
    height: 25px;
    border-radius: 1px;
}

.newsletter-input button {
    border-radius: 6px;
    height: 30px;
    width: 40%;
}