@charset "utf-8";

body {
    background-color: #4bcffa;
}

h1 {
    font-size: 52px;
    color: gray;
    text-align: center;
    /* text-decoration: underline; */
    font-weight: 100;
}

p {
    font-size: 16px;
}

a {
    color: black;   
}

/* a:active {
    color: yellow;
}

a:visited {
    color: pink;
} */